
$color-main: #3e4c7b;
$color-main-dark: #1b2032;
$color-main-light: #818fc2;


$color-grey-dark: black;
$color-grey: #777;
$color-grey-light: white;

$accent-color: #ff0000;
$accent-color-hover: #8b0000;

$font-serif: "DM Serif Display", georgia, serif;
$font-sans-serif: "Kantumruy Pro", helvetica, arial;
